.site-title,
.site-title a {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site-description {
	font-size: 17px;
}

body {
	background-color: #fafafa
}

::selection,
.card-slider__category,
.card-slider-container .swiper-pagination-bullet-active,
.post-card--grid .post-card__thumbnail:before,
.post-card:not(.post-card--small) .post-card__thumbnail a:before,
.post-card:not(.post-card--small) .post-card__category,
.post-box--high .post-box__category span,
.post-box--wide .post-box__category span,
.page-separator,
.pagination .nav-links .page-numbers:not(.dots):not(.current):before,
.btn,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.comment-respond .form-submit input,
.page-links__item {
	background-color: #045772
}

.entry-image--big .entry-image__body .post-card__category a,
.home-text ul:not([class])>li:before,
.page-content ul:not([class])>li:before,
.taxonomy-description ul:not([class])>li:before,
.widget-area .widget_categories ul.menu li a:before,
.widget-area .widget_categories ul.menu li span:before,
.widget-area .widget_categories>ul li a:before,
.widget-area .widget_categories>ul li span:before,
.widget-area .widget_nav_menu ul.menu li a:before,
.widget-area .widget_nav_menu ul.menu li span:before,
.widget-area .widget_nav_menu>ul li a:before,
.widget-area .widget_nav_menu>ul li span:before,
.page-links .page-numbers:not(.dots):not(.current):before,
.page-links .post-page-numbers:not(.dots):not(.current):before,
.pagination .nav-links .page-numbers:not(.dots):not(.current):before,
.pagination .nav-links .post-page-numbers:not(.dots):not(.current):before,
.entry-image--full .entry-image__body .post-card__category a,
.entry-image--fullscreen .entry-image__body .post-card__category a,
.entry-image--wide .entry-image__body .post-card__category a {
	background-color: #045772
}

.comment-respond input:focus,
select:focus,
textarea:focus,
.post-card--grid.post-card--thumbnail-no,
.post-card--standard:after,
.spoiler-box,
.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.inp:focus,
.entry-tag:focus,
.entry-tag:hover,
.search-screen .search-form .search-field:focus,
.entry-content ul:not([class])>li:before,
.text-content ul:not([class])>li:before,
.entry-content blockquote {
	border-color: #045772
}

.post-card--grid a:hover,
.post-card--small .post-card__category,
.post-card__author:before,
.post-card__comments:before,
.post-card__date:before,
.post-card__like:before,
.post-card__views:before,
.entry-author:before,
.entry-date:before,
.entry-time:before,
.entry-views:before,
.entry-content ol:not([class])>li:before,
.text-content ol:not([class])>li:before,
.entry-content blockquote:before,
.spoiler-box__title:after,
.search-icon:hover:before,
.search-form .search-submit:hover:before,
.star-rating-item.hover,
.comment-list .bypostauthor>.comment-body .comment-author:after,
.breadcrumb a,
.breadcrumb span,
.search-screen .search-form .search-submit:before,
.site-header,
.site-header a,
.site-header .pseudo-link {
	color: #045772
}

.humburger span,
.top-menu>ul>li>a:before,
.top-menu>ul>li>span:before {
	background: #045772
}

.site-header {
	background-color: #045772
}

.site-title,
.site-title a {
	color: #ffffff
}

.site-description {
	color: #ffffff
}

@media (min-width: 992px) {
	.top-menu ul li .sub-menu {
		background-color: #045772
	}
}

.entry-content a,
.entry-content a:visited,
.spanlink,
.comment-reply-link,
.pseudo-link,
.widget_calendar a,
.widget_recent_comments a,
.child-categories ul li a {
	color: #045772
}

.child-categories ul li a {
	border-color: #045772
}

a:hover,
a:focus,
a:active,
.spanlink:hover,
.top-menu ul li>span:hover,
.main-navigation ul li a:hover,
.main-navigation ul li span:hover,
.footer-navigation ul li a:hover,
.footer-navigation ul li span:hover,
.comment-reply-link:hover,
.pseudo-link:hover,
.child-categories ul li a:hover {
	color: #f43838
}

.top-menu>ul>li>a:before,
.top-menu>ul>li>span:before {
	background: #f43838
}

.child-categories ul li a:hover,
.post-box--no-thumb a:hover {
	border-color: #f43838
}

.post-box--card:hover {
	box-shadow: inset 0 0 0 1px #f43838
}

.post-box--card:hover {
	-webkit-box-shadow: inset 0 0 0 1px #f43838
}

.main-navigation,
.footer-navigation,
.footer-navigation .removed-link,
.main-navigation .removed-link,
.main-navigation ul li>a,
.footer-navigation ul li>a {
	color: #ffffff
}

.main-navigation,
.main-navigation ul li .sub-menu li,
.main-navigation ul li.menu-item-has-children:before,
.footer-navigation,
.footer-navigation ul li .sub-menu li,
.footer-navigation ul li.menu-item-has-children:before {
	background-color: #045772
}

.h1,
h1 {
	font-size: 1.4675em;
	margin-bottom: .61538462em;
}

.h2,
.related-posts__header,
.section-block__title,
h2 {
	font-size: 1.35em;
	margin-bottom: .77419355em;
}

.comment-reply-title,
.comments-title,
.h3,
h3 {
	font-size: 1.2625em;
	margin-bottom: .96em;
}

.outline {
	border: 1px solid #258276;
	border-radius: 8px;
	padding: 0 10px;
}

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic);
.index_cmp_xsMI6 {
	cursor: pointer
}

.index_cmp__trigger_1UHDg,
.index_cmp_xsMI6 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.index_cmp__trigger_1UHDg {
	color: #333;
	line-height: 1
}

.index_cmp__dropdown_p_wbe {
	position: absolute;
	left: 0;
	top: 100%;
	border-radius: 3px;
	overflow: hidden;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.index_cmp__dropdown-item_3atFb {
	background: #fff;
	white-space: nowrap;
	padding: 10px;
	border-bottom: 1px solid #efefef;
	font-size: 11px
}

.index_cmp__dropdown-item_3atFb:first-child {
	border-top: none
}

.index_cmp__dropdown-item_3atFb:hover {
	background: #efefef
}

.index_zoomer_3zIPl[data-v-17f63b8f] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 35px;
	height: 30px;
	z-index: 2147483647;
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	background: 0 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.index_zoomer--active_1RlP6[data-v-17f63b8f] {
	opacity: 1;
	visibility: visible
}

.index_zoomer__left_1qDbG[data-v-17f63b8f] {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 30px;
	background: #fc0;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	border-radius: 0 4px 4px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 2
}

.index_zoomer__left_1qDbG[data-v-17f63b8f]:hover {
	background: #f0c000
}

.index_zoomer__title_1_oLI[data-v-17f63b8f] {
	width: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 10px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	font-weight: 700;
	background: #fc0
}

.index_zoomer__title_1_oLI span[data-v-17f63b8f] {
	display: block;
	white-space: nowrap
}

.index_zoomer__row_5V77J[data-v-17f63b8f] {
	cursor: pointer;
	left: 0;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	background: #fc0;
	border-radius: 4px
}

.index_zoomer__icon_2PBnS[data-v-17f63b8f],
.index_zoomer__row_5V77J[data-v-17f63b8f] {
	height: 30px;
	width: 35px;
	position: absolute;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.index_zoomer__icon_2PBnS[data-v-17f63b8f] {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	right: 0
}

.index_zoomer__icon_2PBnS svg[data-v-17f63b8f] {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.index_zoomer--small_1kPaN .index_zoomer__title_1_oLI[data-v-17f63b8f] {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: -30px;
	border-radius: 3px;
	height: 30px;
	width: 120px;
	margin-top: -5px
}

.index_zoomer--small_1kPaN .index_zoomer__title_1_oLI[data-v-17f63b8f]:after {
	display: block;
	content: "";
	position: absolute;
	left: 50%;
	bottom: -8px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	height: 0;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	border: 4px solid transparent;
	border-top-color: #fc0
}

.index_zoomer--small_1kPaN:hover .index_zoomer__title_1_oLI[data-v-17f63b8f] {
	opacity: 1;
	visibility: visible;
	margin-top: -10px
}

.index_zoomer--large_3wVRa .index_zoomer__title_1_oLI[data-v-17f63b8f] {
	height: 30px;
	overflow: hidden;
	padding-left: 17.5px;
	position: absolute;
	left: 29px;
	top: 0;
	padding-right: 22px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.index_zoomer--large_3wVRa:hover .index_zoomer__title_1_oLI[data-v-17f63b8f] {
	width: 122px;
	opacity: 1;
	visibility: visible
}

.index_zoomer--large_3wVRa:hover .index_zoomer__left_1qDbG[data-v-17f63b8f] {
	left: 148px;
	opacity: 1;
	visibility: visible
}

.index_overlay_3o1oc[data-v-d2cc5776] {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .6);
	z-index: 1
}

.index_flex_2WuQk[data-v-d5e2b1b8] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 12px
}

.index_dots_2sRuU[data-v-d5e2b1b8] {
	position: relative;
	display: block;
	left: -9999px;
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background-color: #fff;
	color: #fff;
	-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
	box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
	-webkit-animation: index_dotTyping-data-v-d5e2b1b8_3b1hP 1s linear infinite;
	animation: index_dotTyping-data-v-d5e2b1b8_3b1hP 1s linear infinite
}

@-webkit-keyframes index_dotTyping-data-v-d5e2b1b8_3b1hP {
	0% {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff
	}
	16.667% {
		-webkit-box-shadow: 9984px -10px 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px -10px 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff
	}
	33.333% {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff
	}
	50% {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px -10px 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px -10px 0 0 #fff, 10014px 0 0 0 #fff
	}
	66.667% {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff
	}
	83.333% {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px -10px 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px -10px 0 0 #fff
	}
	to {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff
	}
}

@keyframes index_dotTyping-data-v-d5e2b1b8_3b1hP {
	0% {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff
	}
	16.667% {
		-webkit-box-shadow: 9984px -10px 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px -10px 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff
	}
	33.333% {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff
	}
	50% {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px -10px 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px -10px 0 0 #fff, 10014px 0 0 0 #fff
	}
	66.667% {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff
	}
	83.333% {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px -10px 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px -10px 0 0 #fff
	}
	to {
		-webkit-box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff;
		box-shadow: 9984px 0 0 0 #fff, 9999px 0 0 0 #fff, 10014px 0 0 0 #fff
	}
}

.index_target-search-resource_3t5AL[data-v-299e4290] {
	border-radius: 3px;
	position: relative
}

.index_target-search-resource_3t5AL[data-v-299e4290]:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 2
}

.index_target-search-resource__image_29dJm[data-v-299e4290] {
	display: block;
	max-width: 100%;
	max-height: 420px;
	margin: 0 auto
}

.index_target-search-resource--pending_2JOdi[data-v-299e4290]:after {
	opacity: 1;
	visibility: visible
}

.index_target-search-resource__button_VCfr1[data-v-299e4290] {
	border: 1px solid #fcd111;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #000;
	background: #fcd31b;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	width: 100%;
	height: 48px;
	border-radius: 3px;
	font-size: 14px;
	margin-top: 12px;
	outline: 0!important;
	padding: 0 32px;
	font-family: Open Sans;
	text-transform: none;
	letter-spacing: normal;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none
}

.index_target-search-resource__button_VCfr1[data-v-299e4290]:hover {
	background: #facd03
}

.index_target-search-resource__button_VCfr1[data-v-299e4290]:disabled {
	cursor: default;
	background: #fcd834
}

.index_target-search-resource__button_VCfr1[data-v-299e4290]:disabled:hover {
	background: #fcd834
}

.index_app-bar_1mgyp[data-v-0965399a] {
	width: 380px;
	padding: 12px
}

.index_app-bar__top_18DEU[data-v-0965399a] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 24px;
	height: 24px
}

.index_app-bar__logo_uQxsw[data-v-0965399a] {
	margin: 12px 10px 0 10px
}

.index_app-bar__title_1eAcz[data-v-0965399a] {
	font-family: Lety Montserrat;
	font-size: 14px;
	margin: 6px 0 0 10px;
	font-weight: 400
}

.index_app-bar__body_2MQqs[data-v-0965399a] {
	margin-bottom: 6px
}

.index_result-item_2uvlA[data-v-30ed074f] {
	border: 1px solid #efefef;
	height: 200px;
	margin: 0 6px 12px;
	border-radius: 3px;
	width: 30%;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	padding: 6px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	cursor: pointer;
	background: #fff
}

.index_result-item__thumb_3L-IZ[data-v-30ed074f] {
	height: 138px;
	position: relative;
	overflow: hidden;
	margin-bottom: 12px;
	border-radius: 2px;
	line-height: 1;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	background: #efefef
}

.index_result-item__thumb_3L-IZ img[data-v-30ed074f] {
	display: block;
	max-width: 100%;
	border-radius: 2px
}

.index_result-item__price_1TQeg[data-v-30ed074f] {
	font-weight: 700;
	color: #333;
	height: 12px;
	margin-bottom: 6px
}

.index_result-item__sold_omwUz[data-v-30ed074f] {
	color: #333
}

.index_result-item_2uvlA[data-v-30ed074f]:hover {
	text-decoration: none;
	border: 1px solid #00b0ff
}

.index_result-item-placeholder_2WIKi[data-v-8377f91a] {
	border: 1px solid #efefef;
	height: 200px;
	margin: 0 6px 12px;
	border-radius: 3px;
	width: 30%;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	padding: 6px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	background: #fff
}

.index_result-item-placeholder__thumb_i38J4[data-v-8377f91a] {
	height: 138px;
	position: relative;
	overflow: hidden;
	margin-bottom: 12px;
	border-radius: 2px;
	line-height: 1;
	-webkit-transition: all .2s ease;
	transition: all .2s ease
}

.index_result-item-placeholder__price_201o6[data-v-8377f91a] {
	height: 12px;
	width: 40%;
	margin-bottom: 6px
}

.index_result-item-placeholder__sold_1gyMn[data-v-8377f91a] {
	width: 70%;
	height: 12px
}

.index_app-filter_1CK3Q[data-v-51957ebc] {
	position: relative;
	z-index: 3;
	height: 24px
}

.index_app-filter_1CK3Q[data-v-51957ebc],
.index_app-filter__trigger_1c1rI[data-v-51957ebc] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.index_app-filter__trigger_1c1rI[data-v-51957ebc] {
	color: #00b0ff
}

.index_app-filter__trigger_1c1rI span[data-v-51957ebc] {
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	border-bottom: 1px dashed #00b0ff;
	color: #00b0ff
}

.index_app-filter__trigger_1c1rI span[data-v-51957ebc]:hover {
	border-color: transparent
}

.index_app-filter__trigger_1c1rI svg[data-v-51957ebc] {
	margin: 0 4px -2px 0
}

.index_app-filter__dropdown_1OlhJ[data-v-51957ebc] {
	position: absolute;
	width: 200px;
	background: #fff;
	border-radius: 3px;
	left: 0;
	top: 32px;
	padding: 8px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.index_app-filter__dropdown_1OlhJ[data-v-51957ebc]:after {
	border: 5px solid transparent;
	border-bottom-color: #fff;
	top: -10px
}

.index_app-filter__dropdown_1OlhJ[data-v-51957ebc]:after,
.index_app-filter__dropdown_1OlhJ[data-v-51957ebc]:before {
	display: block;
	content: "";
	width: 0;
	height: 0;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
	left: 29px
}

.index_app-filter__dropdown_1OlhJ[data-v-51957ebc]:before {
	border: 5px solid transparent;
	border-bottom-color: rgba(0, 0, 0, .07);
	top: -11px
}

.index_app-filter__item_27oXP[data-v-51957ebc] {
	cursor: pointer;
	padding: 8px 12px;
	background: #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease
}

.index_app-filter__item--active_3rKtu[data-v-51957ebc],
.index_app-filter__item_27oXP[data-v-51957ebc]:hover {
	background: #efefef
}

.index_app-content_Xn3cb[data-v-e4ec3a5e] {
	width: 520px;
	padding: 12px;
	background: #efefef
}

.index_app-content__top_1c8ve[data-v-e4ec3a5e] {
	height: 48px;
	padding-top: 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.index_app-content__items_2ZKHR[data-v-e4ec3a5e] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -6px;
	max-height: calc(100vh - 70px);
	overflow: hidden;
	overflow-y: scroll;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

.index_app-content__empty_1EVel[data-v-e4ec3a5e] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: calc(100vh - 70px);
	background: #fff;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.index_app-content__title_18A3d[data-v-e4ec3a5e] {
	font-size: 14px;
	color: #333;
	padding: 12px
}

.index_app_3g8VA[data-v-6126debb] {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147483647;
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #000;
	text-align: left;
	text-transform: none;
	letter-spacing: normal;
	font-weight: 400
}

.index_app__close_1WIC7[data-v-6126debb] {
	position: absolute;
	left: -28px;
	top: 12px;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 32px;
	width: 28px;
	border-radius: 3px 0 0 3px;
	background: #ccc
}

.index_app__close_1WIC7 svg[data-v-6126debb] {
	opacity: 1;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all .2s ease;
	transition: all .2s ease
}

.index_app__close_1WIC7:hover svg[data-v-6126debb] {
	opacity: .6
}

.index_app__body_v6y3T[data-v-6126debb] {
	width: 900px;
	height: 100vh;
	background: #fff;
	position: relative;
	z-index: 2147483647;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-shadow: -7px 0 10px 0 rgba(0, 0, 0, .12);
	box-shadow: -7px 0 10px 0 rgba(0, 0, 0, .12)
}
